<a href="https://colab.research.google.com/github/mariamejia2703/BigData/blob/master/Copia_de_Tutorial1CDMariaI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tutorial 1: Importación y Manejo de Datos en Múltiple Formatos.

Este tutorial tiene com objetivo demostrar los principales métodos de la librería `pandas` de Python para leer y manipular datos en distintos formatos. En particular, abordaremos los siguientes temas: 

* Importación e inspección de datos estructurados en formatos `.csv`y `.xlsx`.
* Importación y manipulación de datos semiestructurados en formato `.json`.

La documentación de pandas asociada a métodos de lectura y escritura de datos está disponible en el siguiente link:

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

In [1]:
#Primero, importamos las librerías a utilizar
import pandas as pd

## 1. Importación e inspección de datos estructurados.

Para demostrar la lectura e inspección de datos estructurados, consideremos por ejemplo el siguiente dataset: 
- listado de productos de un negocio de artículos de librería, cada uno con un nombre, código, marca, costo, precio de venta, y número de unidades disponibles. 

Este conjunto de datos puede estar disponible en algún formato de datos estructurados como `.csv` o `.xlsx`, propio de software de planillas de cálculo como MS Excel.

### 1.1 Lectura de datos en formato de texto plano (csv)

https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [2]:
data_file='https://github.com/paguirre-uc/mds3020_2022/blob/main/semana1/tutorial1_productos.csv?raw=true'

#alternativa si descargan localmente el archivo de datos:
#data_file=tutorial1_productos.csv

df=pd.read_csv(data_file,sep=';')
df

,Producto,Marca,CodigoSKU,Costo,PrecioVenta,Unidades
0,Cuaderno lineas,SVLUS,1003789,1210,1452.0,116
1,Cuaderno cuadros,SVLUS,1929835,1210,1452.0,165
2,Lapiz grafito,Lappau,1366925,470,564.0,194
3,Goma de borrar,Lappau,1461758,285,342.0,131
4,Corchetera,Officia,1835948,3250,3900.0,190
5,Pincel fino,ArtM,1992659,990,1188.0,139
6,Pincel grueso,ArtM,1959137,1100,1320.0,198
7,Acrilico 6 colores,ArtM,1124149,7320,8784.0,45
8,Mezclador 6,ArtM,1954385,890,1068.0,138
9,Toner,TechOf,1301317,15230,18276.0,145
10,Resma carta,MultiOffice,1987180,4580,5496.0,7
11,Corrector blanco,MultiOffice,1062342,2565,3078.0,80
12,Tijera escolar,Lappau,1939778,2200,2640.0,75
13,Destacador amarillo,Lappau,1918078,1320,1584.0,124
14,Destacador verde,Lappau,1028765,1320,1584.0,21
15,Block notas,MultiPaper,1375330,3128,3753.6,42
16,Marcador pizarra azul,Officia,1045223,1530,1836.0,131
17,Marcador pizarra negro,Officia,1818443,1530,1836.0,154
18,Perforadora,Officia,1302786,6430,7716.0,29
19,Clips 100U,MultiOffice,1967352,650,780.0,128
20,Clips 1000U,MultiOffice,1912077,5235,6282.0,19
21,Borrador,Officia,1875869,6780,8136.0,25
22,Barra pegamento,ArtM,1898500,765,918.0,52
23,Bolígrafo azul,Lappau,1039715,525,630.0,168
24,Bolígrafo negro,Lappau,1590428,530,636.0,142
25,Bolígrafo rojo,Lappau,1760135,530,636.0,73

### 1.2 Lectura de datos en formato binario (xlsx)


https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

In [3]:
data_file='https://github.com/paguirre-uc/mds3020_2022/blob/main/semana1/tutorial1_productos.xlsx?raw=true'

#alternativa si descargan localmente el archivo de datos:
#data_file='tutorial1_productos.xlsx'

df=pd.read_excel(data_file,sheet_name='productos',skiprows=2)
df

,Producto,Marca,CodigoSKU,Costo,PrecioVenta,Unidades
0,Cuaderno lineas,SVLUS,1003789,1210,1452.0,116
1,Cuaderno cuadros,SVLUS,1929835,1210,1452.0,165
2,Lapiz grafito,Lappau,1366925,470,564.0,194
3,Goma de borrar,Lappau,1461758,285,342.0,131
4,Corchetera,Officia,1835948,3250,3900.0,190
5,Pincel fino,ArtM,1992659,990,1188.0,139
6,Pincel grueso,ArtM,1959137,1100,1320.0,198
7,Acrilico 6 colores,ArtM,1124149,7320,8784.0,45
8,Mezclador 6,ArtM,1954385,890,1068.0,138
9,Toner,TechOf,1301317,15230,18276.0,145
10,Resma carta,MultiOffice,1987180,4580,5496.0,7
11,Corrector blanco,MultiOffice,1062342,2565,3078.0,80
12,Tijera escolar,Lappau,1939778,2200,2640.0,75
13,Destacador amarillo,Lappau,1918078,1320,1584.0,124
14,Destacador verde,Lappau,1028765,1320,1584.0,21
15,Block notas,MultiPaper,1375330,3128,3753.6,42
16,Marcador pizarra azul,Officia,1045223,1530,1836.0,131
17,Marcador pizarra negro,Officia,1818443,1530,1836.0,154
18,Perforadora,Officia,1302786,6430,7716.0,29
19,Clips 100U,MultiOffice,1967352,650,780.0,128
20,Clips 1000U,MultiOffice,1912077,5235,6282.0,19
21,Borrador,Officia,1875869,6780,8136.0,25
22,Barra pegamento,ArtM,1898500,765,918.0,52
23,Bol√≠grafo azul,Lappau,1039715,525,630.0,168
24,Bol√≠grafo negro,Lappau,1590428,530,636.0,142
25,Bol√≠grafo rojo,Lappau,1760135,530,636.0,73

### 1.3 Inspección del dataframe.

- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.columns.html
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Producto     26 non-null     object
 1   Marca        26 non-null     object
 2   CodigoSKU    26 non-null     int64
 3   Costo        26 non-null     int64
 4   PrecioVenta  26 non-null     float64
 5   Unidades     26 non-null     int64
dtypes: float64(1), int64(3), object(2)
memory usage: 1.3+ KB

In [5]:
df.columns

Index(['Producto', 'Marca', 'CodigoSKU', 'Costo', 'PrecioVenta', 'Unidades'], dtype='object')

In [6]:
df.head(10)

             Producto    Marca  CodigoSKU  Costo  PrecioVenta  Unidades
0     Cuaderno lineas    SVLUS    1003789   1210       1452.0       116
1    Cuaderno cuadros    SVLUS    1929835   1210       1452.0       165
2       Lapiz grafito   Lappau    1366925    470        564.0       194
3      Goma de borrar   Lappau    1461758    285        342.0       131
4          Corchetera  Officia    1835948   3250       3900.0       190
5         Pincel fino     ArtM    1992659    990       1188.0       139
6       Pincel grueso     ArtM    1959137   1100       1320.0       198
7  Acrilico 6 colores     ArtM    1124149   7320       8784.0        45
8        Mezclador 6      ArtM    1954385    890       1068.0       138
9               Toner   TechOf    1301317  15230      18276.0       145

In [7]:
df.tail(3)

            Producto   Marca  CodigoSKU  Costo  PrecioVenta  Unidades
23   Bol√≠grafo azul  Lappau    1039715    525        630.0       168
24  Bol√≠grafo negro  Lappau    1590428    530        636.0       142
25   Bol√≠grafo rojo  Lappau    1760135    530        636.0        73

In [8]:
df.sample(3)

            Producto    Marca  CodigoSKU  Costo  PrecioVenta  Unidades
24  Bol√≠grafo negro   Lappau    1590428    530        636.0       142
3     Goma de borrar   Lappau    1461758    285        342.0       131
21          Borrador  Officia    1875869   6780       8136.0        25

In [9]:
df.describe()

          CodigoSKU         Costo   PrecioVenta    Unidades
count  2.600000e+01     26.000000     26.000000   26.000000
mean   1.594304e+06   2752.807692   3303.369231  105.038462
std    3.757840e+05   3299.660007   3959.592008   60.166755
min    1.003789e+06    285.000000    342.000000    7.000000
25%    1.301684e+06    796.250000    955.500000   46.750000
50%    1.789289e+06   1320.000000   1584.000000  126.000000
75%    1.926896e+06   3219.500000   3863.400000  144.250000
max    1.992659e+06  15230.000000  18276.000000  198.000000

## 2. Importación e inspección de datos semi-estructurados.

### 2.1 Importación de datos en formato JSON.

A continuación veremos algunos ejemplos de lectura y manejo de datos en formato JSON.

En primer lugar, supongamos que además de la lista de productos de una tienda de artículos de librería, tenemos otro conjunto de datos relativos a los locales de la cadena de tiendas, en formato JSON:

In [14]:
import json

json_locales=json.load(open('/tutorial1_locales.json','r'))
json_locales

[{'local': 'Colina',
  'vendedores': 20,
  'info_local': {'direccion': 'Las Condes 435', 'telefono': '5698727564'},
  'clientes': [{'nombre': 'Luis',
    'apellido': 'Perez',
    'mail': 'luisperez@mail.com',
    'comprasMes': 178540,
    'productos': {'Cuaderno cuadros': 18}},
   {'nombre': 'Victoria',
    'apellido': 'Solar',
    'mail': 'vsolar@mail.com',
    'comprasMes': 237549,
    'productos': {'Cuaderno cuadros': 5,
     'Lapiz grafito': 10,
     'Goma de borrar': 8},
    'telefono': '56962899045'}],
  'encargados': {'gerente': 'Luis Perez',
   'ventas': 'Mario Gonzalez',
   'operaciones': 'Paz Blanco'}},
 {'local': 'Cisterna',
  'vendedores': 10,
  'info_local': {'direccion': 'Las Gaviotas 872', 'telefono': '5698727564'},
  'clientes': [{'nombre': 'Pedro',
    'apellido': 'Sanchez',
    'mail': 'psanchez@mail.com',
    'comprasMes': 654,
    'productos': {'Impresora': 2, 'Lapiz grafito': 25}},
   {'nombre': 'Luciana',
    'apellido': 'Ramirez',
    'mail': 'luciram@mail.com',
    'productos': {'Cuaderno cuadros': 32, 'Goma de borrar': 9},
    'telefono': '5687763925'}],
  'encargados': {'gerente': 'Marta Vasquez',
   'ventas': 'Sandra Carrasco',
   'operaciones': 'Marcial Santos'}}]

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#### En pandas, podemos crear un dataframe directamente a partir de un objeto tipo JSON, que es equivalente a un diccionario de Python:

In [15]:
df=pd.DataFrame(json_locales)
df

,local,vendedores,info_local,clientes,encargados
0,Colina,20,"{'direccion': 'Las Condes 435', 'telefono': '5...","[{'nombre': 'Luis', 'apellido': 'Perez', 'mail...","{'gerente': 'Luis Perez', 'ventas': 'Mario Gon..."
1,Cisterna,10,"{'direccion': 'Las Gaviotas 872', 'telefono': ...","[{'nombre': 'Pedro', 'apellido': 'Sanchez', 'm...","{'gerente': 'Marta Vasquez', 'ventas': 'Sandra..."

### 2.2 Normalización de objetos JSON.

Una característica del formato JSON es que puede ser anidado: el valor de un atributo pueder ser un nuevo diccionario, o una lista de diccionarios. Este tipo de datos anidados es más conveniente de utilizar en formato "aplanado" o "flattened", de manera que pueda ser almacenado en un data frame. La librería `pandas` tiene una función `json_normalize()` que hace exactamente esto:


https://pandas.pydata.org/docs/reference/api/pandas.json_normalize.html

In [16]:
pd.json_normalize(json_locales)

,local,vendedores,clientes,info_local.direccion,info_local.telefono,encargados.gerente,encargados.ventas,encargados.operaciones
0,Colina,20,"[{'nombre': 'Luis', 'apellido': 'Perez', 'mail...",Las Condes 435,5698727564,Luis Perez,Mario Gonzalez,Paz Blanco
1,Cisterna,10,"[{'nombre': 'Pedro', 'apellido': 'Sanchez', 'm...",Las Gaviotas 872,5698727564,Marta Vasquez,Sandra Carrasco,Marcial Santos

In [17]:
pd.json_normalize(json_locales,record_path='clientes')

,nombre,apellido,mail,comprasMes,productos.Cuaderno cuadros,telefono,productos.Lapiz grafito,productos.Goma de borrar,productos.Impresora
0,Luis,Perez,luisperez@mail.com,178540.0,18.0,NaN,NaN,NaN,NaN
1,Victoria,Solar,vsolar@mail.com,237549.0,5.0,56962899045,10.0,8.0,NaN
2,Pedro,Sanchez,psanchez@mail.com,654.0,NaN,NaN,25.0,NaN,2.0
3,Luciana,Ramirez,luciram@mail.com,NaN,32.0,5687763925,NaN,9.0,NaN

In [19]:
df=pd.json_normalize(json_locales,record_path='clientes',meta=['local'])
df

,nombre,apellido,mail,comprasMes,productos.Cuaderno cuadros,telefono,productos.Lapiz grafito,productos.Goma de borrar,productos.Impresora,local
0,Luis,Perez,luisperez@mail.com,178540.0,18.0,NaN,NaN,NaN,NaN,Colina
1,Victoria,Solar,vsolar@mail.com,237549.0,5.0,56962899045,10.0,8.0,NaN,Colina
2,Pedro,Sanchez,psanchez@mail.com,654.0,NaN,NaN,25.0,NaN,2.0,Cisterna
3,Luciana,Ramirez,luciram@mail.com,NaN,32.0,5687763925,NaN,9.0,NaN,Cisterna

### 2.3 Escritura de archivos en formato JSON.

Los datos en formato JSON pueden leerse desde un archivo de texto plano, o también es posible exportar un dataframe a un archivo en formato JSON.

In [20]:
df.to_json('clientes_out.json')